<h1><%= @cocktail.name %></h1>
<br>

  <% @cocktail.doses.each do |d| %>
    <h3><%=  d.description %> <%=  d.ingredient.name %>
    <%= link_to "Delete this dose", dose_path(d), method: :delete, class: "btn btn-primary" %></h3>
  <% end %>
<br>
<br>


<%= link_to "Add ingredients/doses", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>

<br>
<br>

<%= link_to "Back to list", cocktails_path %>
