<h1><%= @cocktail.name %></h1>
<br>

  <% @cocktail.doses.each do |d| %>
    <h3><%=  d.description %> <%=  d.ingredient.name %></h3>
    <%= link_to "Delete this dose", dose_path(d), method: :delete %>
  <% end %>


<%= link_to "Add ingredients/doses", new_cocktail_dose_path(@cocktail) %>

